* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent {
  border: 2px solid #000;
  height: 200px;
}

#parent > h1 {
  margin: 10px 0px 0px 180px;
}

.inner-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 0px 50px;
}

.inner-container > button {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 15px;
  background-color: rgb(215, 39, 39);
  color: #fff;
  border: none;
}

#rest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#rest > button {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 15px;
  background-color: rgb(25, 27, 26);
  color: #fff;
  border: none;
}
