* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > img {
  position: absolute;
  height: 30px;
  top: 0px;
  left: 200px;
}

.first-images p > img {
  height: 30px;
  width: 30px;
}

.first-images {
  display: flex;
  gap: 15px;
  flex: wrap;
}

.first-images > .lap-image {
  height: 300px;
}

h3 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline rgb(12, 12, 191);
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.images > img {
  height: 100px;
}

.images2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.images2 > img {
  height: 100px;
}

.images,
.images2 {
  margin-top: 10px;
}

h2 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline rgb(10, 10, 241);
  text-transform: capitalize;
}

h1 {
  color: #fff;
  /* font-weight: 900; */
}

p {
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > .icons > img {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

#mark {
  font-weight: 900;
  word-spacing: 5px;
}

#dev {
  font-weight: 500;
  color: rgba(255, 227, 87, 0.963);
}

@media screen and (500px > width > 800px) {
  body{
    display: flex;
  }
}
